[user]
#	name = your_name
#	email = your_email
[alias]
    st = status
    co = checkout
    br = branch
    bl = blame
    lo = log --graph
    adog = log --all --decorate --oneline --graph
    root = rev-parse --show-toplevel
[push]
    default = upstream
[core]
    editor = vim
[color]
    ui = true
